@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295, 54%, 18%) 0%,
    hsl(199, 70%, 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(155px);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0px;
  right: 0px;
  background-image: linear-gradient(
    145deg,
    hsla(0, 54%, 46%, 0.767) 0%,
    hsla(0, 54%, 58%, 0.582) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202, 67%, 18%) 50%,
    hsl(214, 4%, 32%) 1%,
    hsl(221, 44%, 26%) 74%
  );
  filter: blur(205px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 0px;
  bottom: 0px;
  background-image: linear-gradient(
    145deg,
    hsl(0, 54%, 46%) 0%,
    hsla(0, 54%, 58%, 0.582) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202, 67%, 18%) 50%,
    hsl(214, 4%, 32%) 1%,
    hsl(221, 44%, 26%) 74%
  );
  filter: blur(205px);
  transform: rotate(145deg);
}

.gradient-04 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(
    120deg,
    hsl(202, 67%, 18%) 18%,
    hsla(0, 54%, 46%, 0.788) 38%,
    hsla(258, 7%, 50%, 0.774) 20%,
    hsla(214, 4%, 32%, 0.712) 30%
  );
  filter: blur(220px);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}
